@if (Request.IsAuthenticated) {
    <section>
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    </section>
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Inico", "Index", "Home")</li>
            <li>@Html.ActionLink("Ator", "Index", "Ator")</li>
            <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
            <li>@Html.ActionLink("Copia", "Index", "Copia")</li>
            <li>@Html.ActionLink("Genero", "Index", "Genero")</li>
            <li>@Html.ActionLink("Locacao", "Index", "Locacao")</li>
            <li>@Html.ActionLink("Tipo Titulo", "Index", "TipoTitulo")</li>
            <li>@Html.ActionLink("Titulo", "Index", "Titulo")</li>
            <li>@Html.ActionLink("Sobre", "About", "Home")</li>
        </ul>
    </nav>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}