@if (Request.IsAuthenticated) {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="nav-collapse collapse">
                    <a href="/Home/Index" class="brand">Projeto Locadora de Filmes</a>                    
                    <p class="navbar-text pull-right">
                        Olá, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
                    <ul id="menu" class="nav navbar">
                        <li class="active">@Html.ActionLink("Inico", "Index", "Home")</li>
                        <li>@Html.ActionLink("Ator", "Index", "Ator")</li>
                        <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                        <li>@Html.ActionLink("Copia", "Index", "Copia")</li>
                        <li>@Html.ActionLink("Genero", "Index", "Genero")</li>
                        <li>@Html.ActionLink("Locacao", "Index", "Locacao")</li>
                        <li>@Html.ActionLink("Tipo Titulo", "Index", "TipoTitulo")</li>
                        <li>@Html.ActionLink("Titulo", "Index", "Titulo")</li>
                    </ul>
                    <ul id="menu" class="nav pull-right">
                        <li class="dropdown">
                            <ul class="dropdown-menu">
                              <li>
                                  @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                     @Html.AntiForgeryToken()
                                     <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                  }
                              </li>
                            </ul>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-align-justify"></b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
} else {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="#" class="brand">Projeto Locadora de Filmes</a>
                <ul class="nav">
                    <li>@Html.ActionLink("Novo usuário", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </div>
    </div>
    
}