@model TrabalhoLocadoraMVC2.Models.Locacao

@{
    ViewBag.Title = "Create";
    string erro = ViewBag.Erro;
}


<h2>@{ @Html.Raw(erro); }</h2>


<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Locacao</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClienteId, "Cliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClienteId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClienteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CopiaId, "Copia")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CopiaId", String.Empty)
            @Html.ValidationMessageFor(model => model.CopiaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataLocacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataLocacao)
            @Html.ValidationMessageFor(model => model.DataLocacao)
        </div>
        <p>
            <input type="submit" value="Create" class="btn btn-success"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
