@model TrabalhoLocadoraMVC2.Models.Locacao

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Locacao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cliente.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CopiaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CopiaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataLocacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataLocacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataDevolucao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDevolucao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
