@model TrabalhoLocadoraMVC2.Models.Locacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Locacao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cliente.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CopiaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CopiaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataLocacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataLocacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataDevolucao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDevolucao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
