@model TrabalhoLocadoraMVC2.Models.Genero

@{
    ViewBag.Title = "Edit";
}

<body style="padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5;">
    <div class="container">
        <form action="/Genero/Edit/{id}" method="post" novalidate="novalidate" class="form-signin">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Alterar Genero</legend>

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Descricao)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Descricao)
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>

                <p>
                    <input class="btn btn-large btn-primary" type="submit" value="Salvar" />
                </p>
            </fieldset>
        </form>
    </div>
</body>
<div>
    @Html.ActionLink("Retornar à lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
