@model TrabalhoLocadoraMVC2.Models.Copia

@{
    ViewBag.Title = "Create";
}
<body style="padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5;">
    <div class="container">
        <form action="/Copia/Create" method="post" novalidate="novalidate" class="form-signin">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Criar Copia</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.TituloId, "Titulo")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("TituloId", String.Empty)
                    @Html.ValidationMessageFor(model => model.TituloId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.TipoCopiaId, "Tipo da Copia")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("TipoCopiaId", String.Empty)
                    @Html.ValidationMessageFor(model => model.TipoCopiaId)
                </div>

                <p>
                    <input type="submit" value="Salvar" class="btn btn-large btn-primary" />
                </p>
            </fieldset>
        </form>
    </div>
</body>

<div>
    @Html.ActionLink("Retornar à lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
