@model IEnumerable<TrabalhoLocadoraMVC2.Models.Copia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova Cópia", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TituloId)
            @Html.DisplayNameFor(model => model.TipoCopiaId)
        </th>
        <th></th>
    </tr>
</table>
<table class="table table-condensed table-hover">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo.Nome)
            @Html.DisplayFor(modelItem => item.TipoCopia.Descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

