@model TrabalhoLocadoraMVC2.Models.Titulo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Titulo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sinopse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sinopse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrigemTitulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrigemTitulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ano)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ano)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoTituloId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoTituloId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DescricaoAtores)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescricaoAtores)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DescricaoGeneros)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescricaoGeneros)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
