@model TrabalhoLocadoraMVC2.Models.Titulo

@{
    ViewBag.Title = "Edit";
}

<body style="padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5;">
    <div class="container">
        <form action="/Locacao/Edit/{id}" method="post" novalidate="novalidate" class="form-signin">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Alterar Titulo</legend>

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Sinopse)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Sinopse)
                    @Html.ValidationMessageFor(model => model.Sinopse)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.OrigemTitulo)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OrigemTitulo)
                    @Html.ValidationMessageFor(model => model.OrigemTitulo)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Ano)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ano)
                    @Html.ValidationMessageFor(model => model.Ano)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TipoTituloId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TipoTituloId)
                    @Html.ValidationMessageFor(model => model.TipoTituloId)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Atores)
                </div>
                <div class="editor-field">
                    @Html.ListBox("ArrayAtores", (MultiSelectList)ViewBag.MultiSelectAtores)
                    @Html.ValidationMessageFor(model => model.ArrayAtores)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Generos)
                </div>
                <div class="editor-field">
                    @Html.ListBox("ArrayGeneros", (MultiSelectList)ViewBag.MultiSelectGeneros)
                    @Html.ValidationMessageFor(model => model.ArrayGeneros)
                </div>

                <p>
                    <input type="submit" value="Salvar"  class="btn btn-large btn-primary"/>
                </p>
            </fieldset>
        </form>
    </div>
</body>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
