@model IEnumerable<TrabalhoLocadoraMVC2.Models.Titulo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo Título", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sinopse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrigemTitulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTituloId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoAtores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoGeneros)
        </th>
        <th></th>
    </tr>
</table>
<table class="table table-condensed table-hover">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sinopse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrigemTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTituloId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoAtores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoGeneros)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
